.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
}